<form action="/surveysubmission" method="post">
    <label>Your Name:</label>
    <input type="text" name="name">
    <label>Dojo Location:</label>
    <select name="location">
        <option value="San Jose">San Jose</option>
        <option value="Austin">Austin</option>
    </select>
    <label>Favorite Language:</label>
    <select name="language">
        <option value="C#">C#</option>
        <option value="Python">Python</option>
    </select>
    <h4>Comment:</h4>
    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>

