@using Dojo_Survey_M.Models
@model Survey

<h1>Name:</h1>
<h2>@Model.name</h2>
<h1>Dojo Location:</h1>
<h2>@Model.location</h2>
<h1>Favorite Language:</h1>
<h2>@Model.language</h2>
<h1>Comment: </h1>
<h2>@Model.comment</h2>