<h1><a href="/dashboard">Dashboard</a></h1>
<br>
<h2>-*-*-*-*-*-*-*-*-*-*-*-*-*-*</h2>
<br>
<h2>*-*-*-*-*-*-*-*-*-*-*-*-*-*-</h2>
<br>
<h1>Plan Your Wedding</h1>
<h2>UserID: @ViewBag.UserId</h2>
<form method="post" action="/AddWedding">
    <label for="Wedder_1">Wedder One</label>
    <input type="text" name="Wedder_1">
    <label for="Wedder_2">Wedder Two</label>
    <input type="text" name="Wedder_2">
    <label for="WeddingDate">Date</label>
    <input type="date" name="WeddingDate">
    <label for="Wedding_Address">Wedding Address</label>
    <input type="text" name="Wedding_Address">
    <input type="hidden" name="UserId" value="@ViewBag.UserId">
    <input type="submit" value="Create">
</form>