<h1>Register</h1>
@model User

<form method="post" asp-action="RegisterForm" asp-controller="Home">
    <div>
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName">
    </div>
    <div>
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName">
    </div>
     <div>
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email">
    </div>
     <div>
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password">
    </div>
     <div>
        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm">Confirm</label>
        <input type="password" asp-for="Confirm">
    </div>
    <input type="submit" value="Sign Up">
</form>
<br>
<h2>-*-*-*-*-*-*-*-*-*-*-*-*-*-*</h2>
<br>
<h2>*-*-*-*-*-*-*-*-*-*-*-*-*-*-</h2>
<br>
<partial name="LoginPartial">