<h1>Dojo Activity Center</h1>

<h1><a href="/Home">Home</a></h1>
<h2><a href="/loggout">Loggout</a></h2>
<br>
<h2>-*-*-*-*-*-*-*-*-*-*-*-*-*-*</h2>
<br>
<h2>*-*-*-*-*-*-*-*-*-*-*-*-*-*-</h2>
<br>
<h1>Create an Activity</h1>
@model Forum
<form method="post" asp-action="AddAssociationForum" asp-controller="Home">
    <label for="Name">Title:</label>
    <input type="text" asp-for="Name">
    <span asp-validation-for="Name"></span>
    <label for="Time">Time</label>
    <input type="text" asp-for="Time">
    <span asp-validation-for="Time"></span>
    <label for="ForumDate">Date</label>
    <input type="date" asp-for="ForumDate">
    <span asp-validation-for="ForumDate"></span>
    <label for="Duration">Duration</label>
    <input type="number" min=1 asp-for="Duration">
    <span asp-validation-for="Duration"></span>
    <label for="DurationHMD"></label>
    <select name="DurationHMD" id="DurationHMD" asp-for="DurationHMD">
        <option value="Hours">Hours</option>
        <option value="Minutes">Minutes</option>
        <option value="Days">Days</option>
    </select>
    <span asp-validation-for="DurationHMD"></span>
    <label for="Description">Description:</label>
    <textarea name="Description" id="" cols="30" rows="10" asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>
    <input type="hidden" name="UserId" value="@ViewBag.UserId">
    <input type="submit" value="Create Activity">
</form>