@model Chef


<h1>Enter Your Information</h1>

<form asp-action="CreateChefSubmit" method="post" asp-controller="Home" >
    <div>
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName">Chef's First Name</label>
        <input type="text" asp-for="FirstName">
    </div>
    <div>
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName">Last Name</label>
        <input type="text" asp-for="LastName">
    </div>
    <div>
        <span asp-validation-for="DateOfBirth"></span>
        <label asp-for="DateOfBirth">Years Old</label>
        <input type="text" asp-for="DateOfBirth">
    </div>
    <input type="submit" value="Add Chef">
</form>