<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="navbar">
        <a href="/"><h1>Home</h1></a>
        <h1> | </h1>
        <a href="/projects"><h1>Projects</h1></a>
        <h1> | </h1>
        <a href="/contact"><h1>Contact</h1></a>
    </div>
    @{
        <h1>About My Projects</h1>
        <h4>random stuff</h4>
    }

</body>
</html>